
.icon-child:before { content: '\e800'; } /* '' */
.icon-contacts:before { content: '\e801'; } /* '' */
.icon-picture:before { content: '\e802'; } /* '' */
.icon-youtube-squared:before { content: '\f166'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-cab:before { content: '\f1b9'; } /* '' */
.icon-facebook-squared:before { content: '\f30e'; } /* '' */